
%font-base {
  font-family: Inter, 'sans-serif';
  margin: 0;
}

%check-list {
  list-style: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    background: url("../images/icon/check-orange.svg") no-repeat center / contain;
  }
}

.hero-con {
  padding: 0 0 3rem;
  .hero-box {
    padding: 5rem 0 0;
    z-index: 1;
    position: relative;
    .hero-thumbnail {
      position: absolute;
      inset: 0 auto auto 0;
      width: 100%;
      height: 10rem;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      z-index: -1;
    }
    .hero-content {
      margin: 2.3125rem 0 0;
      background-color: #fff;
      z-index: 1;
      position: relative;
      &:after {
        content: '';
        background: url("../img/bg/listing-cloud.webp") repeat left top;
        background-size: 569px 181px;
        position: absolute;
        inset: -57px 0 auto;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      .container {
        padding: 0 1.25rem;
      }
      .hero-header {
        .hero-header__rating-box {
        }
        .hero-header__title {
          @extend %font-base;
          font-size: 30px;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: -1.2px;
          color: #000;
        }
      }
      p,
      li,
      button,
      a {
        @extend %font-base;
        font-size: 0.875rem;
        letter-spacing: -0.56px;
        line-height: 100%;
        color: #585858;
        margin: 0;
        span {
          color: #000000;
          font-weight: 600;
        }
        &.hero-msg-text {
          font-size: 0.75rem;
        }
      }
      ul, ol {
        padding: 0 0 0 1.4rem;
        margin: 0;
        li {
          @extend %check-list;
          margin: 0 0 1rem;
          &:last-of-type {
            margin: 0;
          }
        }
      }
      .btn {
        width: 100%;
        padding: 0.75rem;
        box-shadow: 0 2px 12px 0 #0000001A;
        &.btn-warning {
          background-color: $color-seven;
          color: #fff;
          font-weight: 600;
        }
        &.btn-outline-light {
          border: 1px solid #FF914C33;
        }
      }
    }
  }
}

section {
  padding: 2.5rem 0 1.5rem;
  .container {
    padding: 0 1.25rem;
  }
  .section__title {
    @extend %font-base;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.8px;
    margin: 0 0 0.75rem;
  }
  p {
    @extend %font-base;
    line-height: 100%;
    margin: 0;
    font-size: 0.75rem;
    letter-spacing: -0.48px;
    color: #585858;
  }
}

.rooms-sec {
  background-color: rgba($color-seven, 3%);
}

.carousel-item-width {
  max-width: 16.375rem;
  width: 100%;
  margin-right: 0.5rem;
  padding-bottom: 1rem;
}
.custom-card {
  max-width: 16.375rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 20px 0 rgba($text-dark, 0.05);
  border: 0 solid transparent;
  &.review-card {
    background-color: #fff;
  }
  &.simple-card {
    max-width: 100%;
    padding: 1rem;
  }
  * {
    @extend %font-base;
    line-height: 100%;
    margin: 0;
  }
  p,
  li,
  button,
  a {
    font-size: 0.75rem;
    letter-spacing: -0.48px;
    color: #585858;
    margin: 0;
    span {
      color: #000000;
      font-weight: 600;
    }
    &.message-text {
      margin: 0.625rem 0 0;
      line-height: 150%;
      word-spacing: 1px;
    }
  }
  .custom-card__thumbnail {
    border-radius: 0.375rem;
    max-height: 9.375rem;
    height: 100%;
    overflow: hidden;
    &.review-card__thumbnail {
      width: 100%;
      max-width: 2.5rem;
      max-height: 2.5rem;
      border-radius: 100%;
    }
    &.simple-card__thumbnail {
      max-height: 8.75rem;
    }
  }
  .custom-card__header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.875rem 0.25rem 0.875rem;
    margin: 0 0 0.875rem;
    border-bottom: 1px solid rgba(88, 88, 88, 8%);
    background-color: #fff;
    .custom-card__header__title,
    .custom-card__header__price {
      font-size: 0.875rem;
      letter-spacing: -0.53px;
      color: #000;
    }
    .custom-card__header__title {
      font-weight: 600;
    }
    .custom-card__header__price {
      color: #585858;
      span {
        font-weight: 600;
        color: #000;
      }
    }
    .custom-card__header__date {
    }
    .custom-card__header__sub-title {
      font-size: 0.75rem;
      letter-spacing: 0.48px;
      img {
        top: -2px;
        position: relative;
      }
    }
    &.review-card__header {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 0;
      margin: 0 0 0.625rem;
      border: 0 solid transparent;
      background: url("../images/icon/Quote.svg") no-repeat top 7px right 4px;
      background-size: 27px 18px;
    }
    &.simple-card__header {
      padding: 1rem 0 0.5rem;
      margin: 0;
      border: 0 solid transparent;
      text-align: center;
      .custom-card__header__title {
        font-size: 1rem;
        letter-spacing: -0.64px;
      }
    }
  }
  .custom-card__content {
    ol, ul {
      margin-bottom: 0.875rem;
      li {
        @extend %check-list;
        margin: 0 0 0.5rem;
      }
    }
    &.simple-card__content {
      max-width: 13.6875rem;
      margin: 0 auto;
      p {
        font-size: 0.875rem;
        line-height: 150%;
        letter-spacing: -0.56px;
      }
    }
  }
  .custom-card__footer {
    border: 0 solid transparent;
    background-color: transparent;
    padding: 0;
    margin: 0 0 0.25rem;
  }
}
.custom-card__footer__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 0.5rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  &.btn-warning {
    background-color: $color-seven;
    border: 1px solid rgba($color-seven, 0.2);
    color: #fff;
    font-weight: 600;
  }
  &.btn-outline-light {
    border: 1px solid #FF914C33;
  }
}

.custom-accordion {
  border: 0 solid transparent;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 0 1.25rem;
  .custom-accordion__item {
    padding: 15.5px 12px;
    border: 0 solid transparent;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 #00000014;
    .custom-accordion__item__button {
      padding: 0;
      margin: 0;
      @extend %font-base;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.56px;
      color: #000;
      &:focus,
      &:not(.collapsed) {
        outline: none;
        box-shadow: none;
        background-color: transparent;
        color: #000;
      }
      &:after {
        width: 12px;
        height: 9px;
        background-size: 12px;
      }
    }
  }
  .custom-accordion-collapse {
    .custom-accordion-body {
      @extend %font-base;
      font-size: 0.75rem;
      line-height: 150%;
      letter-spacing: -0.48px;
      word-spacing: 1px;
      color: #585858;
      padding: 15.5px 12px;

    }
  }
}

.border-footer {
  display: flex;
  width: 100%;
  height: 10px;
  background-color: $color-eight;
  position: absolute;
  bottom: -3rem;
  left: 0;
  right: 0;
  z-index: 1;
}