%check-list-v2 {
  list-style: none;
  position: relative;
  padding: 0;
  &::before {
    content: '';
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.875rem;
    height: 0.875rem;
    background: url("../images/icon/check-green-circle.svg") no-repeat center / contain;
  }
}

.lending-page-v2 {
  background-color: $color-nine;
  //padding-bottom: 11.375rem;
}

.hero-con-v2 {
  padding: 0;
  p,
  li,
  button,
  a {
    @extend %font-base;
    font-size: 0.875rem;
    letter-spacing: -0.56px;
    line-height: 100%;
    margin: 0;
    color: $color-ten;
    span {
      color: $color-one;
      font-weight: 600;
    }
    &.hero-v2-msg-text {
      font-size: 1.125rem;
      font-weight: 500;
      text-align: center;
    }
  }
  .hero-box-v2 {
    background-color: $color-two;
    .hero-content-v2 {
      border-top-left-radius: 1.875rem;
      border-top-right-radius: 1.875rem;
      padding: 1.25rem 0 0;
      background-color: $color-nine;
      ol, ul {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.25rem;
        padding: 0;
        margin: 0 0 1.625rem;
        li {
          @extend %check-list-v2;
          font-size: 0.875rem;
          line-height: 100%;
          padding: 0.625rem 0.5rem 0.625rem 1.625rem;
          border-radius: 0.5rem;
          background-color: #fff;
          box-shadow: 0 4px 20px 0 #3756DF0A;
        }
      }
    }
    .hero-header-v2 {
      padding: 0 0 0.7875rem;
    }
    .hero-header__rating-box-v2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 0.7875rem;
      p, li, a {
        @extend %font-base;
        font-size: 1rem;
        line-height: 100%;
        color: #fff;
        margin: 0;
        span {
          color: $color-one;
          font-weight: 600;
        }
      }
    }
    .hero-header__title-v2 {
      @extend %font-base;
      font-size: 1.5rem;
      line-height: 100%;
      font-weight: 700;
      text-align: center;
      margin: 0 0 0.75rem;
      span {
        color: $color-one;
      }
    }
    .hero-header__sub-title-v2 {
      @extend %font-base;
      font-size: 1.125rem;
      line-height: 25px;
      color: $color-ten;
      text-align: center;
      margin: 0 0 0.9375rem;
      span {
        color: $color-one;
      }
    }
    .btn.btn-warning {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5625rem;
      font-size: 1.125rem;
      line-height: 100%;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      border-radius: 0.75rem;
      padding: 0.875rem 1.5rem;
      max-width: 13.1875rem;
      margin: 0.625rem auto 0;
      background-color: $color-one;
    }
  }
}

.reminder-sec {
  padding: 1.625rem 0 0;
  &.reminder-sec-two {
    padding: 1.0625rem 0 0;
  }
  .reminder-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 1.1875rem 0;
    border: 1px solid $color-eleven;
    background-color: #fff;
    box-shadow: 12px 26px 50px 0 #5A6CEA14;
    border-radius: 0.75rem;
    h2 {
      @extend %font-base;
      font-size: 1.125rem;
      line-height: 25px;
      font-weight: 600;
      color: $color-twelve;
    }
    .btn {
      @extend %font-base;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      font-size: 1rem;
      line-height: 150%;
      font-weight: 600;
      box-shadow: none;
      border-radius: 0.75rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      max-width: 12rem;
      margin: 0 auto;
      &.btn-secondary {
        background-color: $color-thirteen;
        border-color: $color-thirteen;
        color: $color-two;
      }
      &.btn-warning {
        background-color: $color-one;
        border-color: $color-one;
        color: $color-fourteen;
      }
    }
  }
}

.offer-sec {
  padding: 1.0625rem 0 0;
  .offer-con {
    grid-template-columns: 50% 50%;
    gap: 0.25rem;
    .offer-box {
      gap: 0.625rem;
      padding: 0.625rem 0.5rem;
      background-color: #fff;
      border-radius: 0.75rem;
      box-shadow: 12px 26px 50px 0 #5A6CEA0D;
      .offer-box__header__icon {
        width: 2rem;
        height: 2rem;
        border-radius: 6.25rem;
        background-color: $color-thirteen;
      }
      .offer-box__content {
        p, a, li {
          @extend %font-base;
          font-size: 0.875rem;
          line-height: 142%;
          color: $color-twelve;
          text-align: center;
        }
      }
    }

  }
}

.rooms-sec-v2,
.review-sec-v2,
.how-to-works-sec-h,
.custom-accordion-sec-v2 {
  padding: 1.0625rem 0 0;
  .section__title {
    font-size: 1.375rem;
    color: $color-twelve;
    font-weight: 700;
    margin: 0 0 1.125rem;
    text-align: center;
  }
}

.custom-accordion-sec-v2 {
  padding: 1.75rem 0 0;
}

.never-text {
  @extend %font-base;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.8px;
  color: $color-two;
  padding: 1.625rem 0 0.5625rem;
  text-align: center;
  span {
    font-weight: 700;
  }
}

.how-to-works-sec-h {
  padding: 1.75rem 0 0;
}

#reminder-modal.modal,
#list-room-modal.modal,
#draft-request-modal.modal {
  .modal-dialog.modal-fullscreen {
    height: 100%;
    .modal-content {
      margin: 0;
    }
  }
  &.list-room-modal {
    .modal-content {
      padding: 0 0;
      .modal-header {
        padding: 1.1875rem 1rem 1rem !important;
      }
      .modal-footer {
        padding: 1rem 1.5rem;
        border-top: 1px solid $color-seventeen;
      }
      .btn {
        @extend %font-base;
        font-size: 1rem;
        line-height: 1.375rem;
        border-radius: 0.5rem;
        margin: 0;
        &.btn-outline-secondary {
          color: #0A0A0A;
          text-decoration: underline;
          padding: 0;
          &.reminder-btn {
            padding: 0.625rem 1.25rem;
            color: #222222;
            border: 1px solid $color-sixteen;
            border-radius: 3.125rem;
            text-decoration: none;
          }
        }
        &.btn-primary {
          background-color: rgba($color-twenty, 1);
          padding: 0.875rem 3rem;
          &.btn-draft {
            background-color: rgba($color-twenty, 0.7);
          }
        }
      }
    }
    .steps {
      .steps__item {
        @extend %font-base;
        font-size: 0.875rem;
        line-height: 1.5625rem;
        color: $text-dark;
      }
    }
    h2,h3,h4 {
      @extend %font-base;
      font-size: 1.5rem;
      line-height: 100%;
      font-weight: 700;
      color: $text-dark;
      &.fs-16 {
        font-size: 1rem;
      }
    }
    p, li, label {
      @extend %font-base;
      font-size: 0.875rem;
      line-height: 1.5625rem;
      color: $text-dark;
      span {
        color: $color-nineteen;
      }
      &.fs-14 {
        font-size: 0.875rem;
      }
    }

    .custom-card {
      &.room-card-v3 {
        flex-direction: row;
        align-items: start;
        gap: 1rem;
        padding: 0.5rem;

        .custom-card__thumbnail {
          &.room-card-v2__thumbnail {
            max-height: 13.125rem;
          }
        }
        .custom-card__header {
          &.room-card-v2__header {
            padding: 0 0 0.5rem;
          }
        }
        .custom-card__header__title {
          &.room-card-v2__header__title {
            font-size: 1rem;
            line-height: 1rem;
            margin: 0 0 0.3125rem;
          }
        }
        .custom-card__header__price {
          &.room-card-v2__header__price {
            font-size: 0.75rem;
            span {
              font-size: 1.125rem;
            }
          }
        }
        .room-card-v2__header__sub-title {
          font-size: 0.875rem;
        }
        .custom-card__content {
          &.room-card-v2__content {
            p {
              font-size: 0.875rem;
            }
          }
        }
        .custom-card__footer {
          &.room-card-v2__footer {
            padding: 0.75rem 0 0;
            margin: 0.75rem 0 0;
            border-top: 1px dashed rgba($color-twelve, 30%);
          }
        }
      }
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type="file"]), textarea, select, .select-trigger {
      @extend %font-base;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: $color-eighteen;
      height: auto;
      padding: 1.5rem;
      border-radius: 1.125rem;
      box-shadow: 0px 1px 8px 0px #00000014;
      border: 1px solid $color-seventeen;
      ::placeholder,
      .placeholder {
        @extend %font-base;
        color: $color-eighteen;
        background-color: transparent;
      }
    }
    .form-radio-group {
      gap: 0.75rem;
    }
    .form-group-file {
      input {
        display: none;
      }
      label {
        @extend %font-base;
        font-size: 0.875rem;
        line-height: 100%;
        font-weight: 600;
        color: #222222;
        text-align: left;
        padding: 1rem 1rem 1rem 3.375rem;
        gap: 2.5rem;
        border: 1px solid $color-sixteen;
        border-radius: 0.75rem;
        position: relative;
        span {
          position: absolute;
          left: 0.9375rem;
          top: 0;
          bottom: 0;
          margin: auto 0;
          height: fit-content;
        }
      }

    }
    .list-room-modal__first-step {
      .list-room-modal__first-step__header {
        margin: 0 0 1rem; /*4.5625rem*/
      }
      .list-room-modal__first-step__body {
        gap: 0.75rem;
        padding: 0 1rem;
      }
    }
    .list-room-modal__second-step {
      padding: 0 0 2rem;
      .list-room-modal__second-step__body {
        gap: 0.75rem;
        padding: 0 1.5rem;
        .house-room-box {
          gap: 0.6875rem;
        }
      }
    }
    .gallery-box {
      .gallery-item {
        max-height: 10.25rem;
        height: 100%;
        overflow: hidden;
      }
    }
    .dropdown-divider {
      border-top: 1px solid #00000030;
    }
    .eleven-gap {
      gap: 0.6875rem;
    }
    .fs-12 {
      font-size: 0.75rem !important;
    }
  }
}

#reminder-modal.modal,
#draft-request-modal.modal {
  &.list-room-modal {
    .modal-content {
      .btn {
        @extend %font-base;
        font-size: 1rem;
        line-height: 1.375rem;

        &.btn-primary {
          padding: 0.875rem 1rem;
        }
      }
    }
  }
  .modal-body {
    background-color: $color-two;
  }
}

.checkbox-card-type {
  .btn-check:checked + .btn,
  :not(.btn-check) + .btn:active,
  .btn:first-child:active,
  .btn.active, .btn.show {
    border: 1px solid $color-two;
  }
  label {
    @extend %font-base;
    font-size: 0.875rem;
    line-height: 100%;
    font-weight: 600;
    color: #222222;
    text-align: left;
    padding: 1rem;
    gap: 2.5rem;
    border: 1px solid $color-sixteen;
    border-radius: 0.75rem;
  }
}

.left-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}

.success-msg {
  height: calc(100vh - 100px);
}